<script>
    new WOW().init();
</script>
<div class="post-block" data-wow-duration="2s" data-wow-delay="5s">
    <div class="post-content">
        <input type="hidden" name="id" value='{{ post.id }}'>
        <div class="post-title">
            <h2><a href="">{{post.title}}</a></h2>
            <hr>
        </div>
        <div class="post-date">
            <p>{{post.date}}</p>
        </div>
        <div class="post-content">
            <p>{{post.content}}</p>
        </div>
    </div>
</div>